.PdfVersionSelector {
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
}