.PdfVersionEditor {
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    border-left: 0;
    padding: 5px 20px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    border-bottom: 0;
}