.PdfVersionList {
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    border-left: 0;
    padding: 5px 20px;
    box-sizing: border-box;
    border-bottom: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    overflow: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

.nothingPdf {
    color: red;
    text-align: center;
    font-weight: 800;
    font-size: 25px;
}