.PdfVersionBox {
    height: 100%;
    width: 60%;
    display: inline-block;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.pdfVersionBoxHeader {
    height: 10%;
    width: 100%;
    border: solid 1px gray;
    border-bottom: 0;
    border-left: 0;
    background-color: rgb(245, 246, 246);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
}

.pdfVersionBoxHeader .roundedImageContainer {
    height: 40px;
    width: 40px;
}

.pdfVersionBoxHeader .roundedImageContainer img {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.pdfVersionBoxHeader .pdfName {
    font-weight: 600;
    font-size: 15px;
    color: gray;
    cursor: pointer;
}

.description {
    font-size: 15px;
    color: gray;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: rgb(212, 228, 242);
}

.noPdfVersion {
    text-align: center;
    color: brown;
    font-family: sans-serif;
}

.final_doneBtn {
    margin-left: 20px;
    background: rgb(131, 224, 131);
    border-radius: 8px;
    color: white;
}

.closeBtn {
    margin-right: 10px;
    background-color: red;
    border-radius: 8px;
    color: white;
}


/* pdfVersionBox footer */


/* .pdfVersionBoxFooter {
    min-height: 10%;
    width: 100%;
    border: solid 1px gray;
    border-top: 0;
    border-left: 0;
    padding: 0 20px;
    overflow: hidden;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
} */