.PdfVersionList {
    height: 100%;
    width: 100%;
    border: solid 1px gray;
    border-left: 0;
    padding: 5px 20px;
    overflow-x: hidden;
    box-sizing: border-box;
    border-bottom: 0;
    /* background-color: red; */
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* flex-wrap: wrap; */
    padding-bottom: 50px;
}